<% for(var i = data.length-1; i >= 0; i--){ %>
<li class="north-menu-image north-menu-image-right">
	<a href="<%= data[i].href %>" title="<%= data[i].name %>"><img src="<%= API.assectURL+"/images/"+data[i].icon %>"/></a>
</li>
<%}%>